body{
    display: grid;
    justify-content: center;
    font-family: Roboto serif;
    font-style: italic; 
    font-size: 20px;
    background-color:#F0E68C;
}
header{
    font-family: Roboto serif;
    font-style: italic; 
    font-size: 20px;
    display:grid;
    grid-template-columns:45% 45%;
    grid-template-rows:45% 45%;
    justify-content: center;
    align-items:center;
    font:20px Arial italic ;
    margin-bottom: 45px;
}
.hiden{
    display: none;
}
header p{
    font-family: Roboto serif;
    font-style: italic; 
    font-size: 20px;
    display: grid;
    grid-column-end:span 2;
    justify-content: center;
}
main{
    display:grid;
    grid-template-columns: repeat(3,30%);
    grid-gap:30px;
    justify-content: center;
    align-items:center;
    max-width:1000px;
}
.box{
    border:2px solid green;
    border-radius:2px;
    display: grid;
}
.element{
    width: 270px;
    height: 355px;
    perspective: 600px;
}
  
.box{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}
.box.rotated{
    transform: rotateY(180deg);
  }
  
.side{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: grid;
    grid-template-rows: 20% 20% 20% 30% 10%;
} 
.back_side{
    transform: rotateY(180deg);
    display: block;
}
  
span{
    display: grid;
    justify-content: center;
    font-family: Roboto serif;
    font-style: italic; 
    font-size: 20px;
    margin: 15px;
}
main.listes{
    display:grid;
    grid-template-columns:none;
    grid-gap:20px;
    max-width:1000px;
    justify-content: initial;
    align-items:initial;
    width: 800px;
}
main.listes .list_item{
    border:2px solid green;
    border-radius:2px;
    height:75px;
    width:100%;    
    display: flex;
    align-items: center;
}
.span_list, span.inlined{
    display: inline;
    margin: 15px;
}
span.inlined{
    margin: 2px;
}
.recipe{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.deleted{
    text-decoration: line-through;
}